.Contact{
    background-color: #111;
    width: 100%;
    height: 100vh;
}

.Contact h2{
    letter-spacing: 0.1rem;
    position: relative;
    width: 25%;
    margin: auto;
    top: 140px;
    left: 10%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}

.Contact h2 span{
    font-family: 'Open Sans', sans-serif;
    color: rgb(92, 39, 238);
    text-shadow: 0 0 4vw #4a494b;
    text-shadow: 0 4vw 10vw #fbfafc;
    
}

.Contact h3{
    letter-spacing: 0.1rem;
    position: relative;
    width: 25%;
    margin: auto;
    top: 80px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}

.Contact h3 span{
    font-family: 'Open Sans', sans-serif;
    color: rgb(92, 39, 238);
    text-shadow: 0 0 4vw #4a494b;
    text-shadow: 0 4vw 10vw #fbfafc;
    
}

i{
	color: #ffffff;
	margin-left: 45% !important;
	margin-top: 20px;
}


.icon-text{
	margin-top: -15% !important;
}

.Contact .row{
	margin-top: 20%;
}

.Contact .designBy{
	color: #ffffff;
	margin-top: 18%;
	margin-left: 3%;
}