.Header{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 15px;
    top: 0;
    height: 80px;
    
    position: fixed;
    z-index: 100;
    justify-content: space-between;
}

.logo-img{
    width: 70px;
    margin-right: 150px;
    height: 70px;
    border-radius: 40px;
    background-color: #fff;
}

.logo-name{
    margin-left: 150px;
    color: rgb(236, 233, 243);
    text-shadow: 0 0 2vw #17171a;
    font-family: 'Padauk', sans-serif;
    letter-spacing: 0.2rem;
    font-size: 27px;
    

    /* text-transform: uppercase;
	background: linear-gradient(to right, #fdfdfd 0%, #f3ebed 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

.Header hr {
    margin-left: 150px;
    background: rgb(236, 233, 243);
    height: 1px;
    width: 40px;
}







