.Nav{
    width: 10%;
    padding-top: 1rem;       
    position: fixed;
    z-index: 100;
    top: 27%;
    margin-left: 7.5%;
}



.Nav-list{
    color: #e7f0ec;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: space-between;
    font-weight: 400;
}

.inactive{
    color: white;
    text-decoration: none;
}

.Nav-list li a{
    padding-left: 8%;
    padding-right: 8%;
    /* padding-bottom: 5px; */
    transition: all 1s;
    text-decoration: none;
    font-weight: 400;
}


.Nav-list li a:hover {
    cursor: pointer;
    padding-left: 12%;
    background: rgba(0,0,0,0.65);
    color: rgb(74, 12, 243);
    text-shadow: 0 0 4vw #6c42e2;
}

.active{
    background: rgba(0,0,0,0.65);
    color: rgb(74, 12, 243);
    /* text-shadow: 0 0 4vw #6c42e2; */
    text-decoration: none;
    padding-right: 20%;
}


.nav-element{
    text-decoration: none;
    color: white;
}


.nav-hr{
    width: 3%;
    height: 28%;
    background-color: white;
}