.Social{
    width: 17%;
    padding-top: 5%;
       
    position: fixed;
    z-index: 100;
    bottom: 2%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(240, 229, 229);
}

.Social hr{
    height: 1.7px;
    width: 35%;
    background: rgb(238, 229, 229);
    border: none;
}

.Social .social-icon{
    font-weight: 600 !important;
    font-size: 1.5rem;
}

